/*****COMMON CSS SECTION*****/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 10;
	-outline: 10;
	font-family :italic, sans-serif, arial;
}
html, body 
	{
	font-size: 10px;
	font-weight: 200;
	background:black;
	color:#fff;
}
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
/*****MENU SECTION*****/
.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 100vh;
}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-col {
	color:white;
}


/*****Main BANNER*****/
.width-50 {
	float: left;
	width: 50%;
}
.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
}
.banner-section h1 {
	font-size: 40px;
	margin-top: 10px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #ffbf35;
	color: #ffbf35;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}

.main-panel img {
	margin-top: 10%;
	width: 50%;
    height: 20%;
	margin-left: 20%;
	background-image: url(/Snapchat-1749421202_1.jpg);
	
}
/*ABOUT US SECTION*/
.main-section {
	width: 100%;
	float: left;
	padding: 110px 0px 110px 0px;
}
.width-100 {
	width: 100%;
	float: left;
}
.mt-20 {
	margin-top: 20px;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
	color: yellow
}
.about-img {
	width: 70%;
	padding: 0px 50px;
	margin-top: 20px;
	background-image: (/Snapchat-519359951.jpg);
}
.about-us {
	width: 100%;
	float: left;
	padding: 20px;
}
.about-us p {
	font-size: 20px;
	margin-top: 20px;
	line-height: 29px;
}
table {
	width: 100%;
}
table th,
table td {
	font-size: 20px;
	text-align: left;
	padding: 5px 0px;
}
/*****SKILL SECTION*****/
.skill {
	
	margin-top: 30px;
	font-size: 20px;
	float:center;
	
}

.skill span {
	float: right;
	
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
	
}

.skill div span {
	background: #ffbf35;
	height: 5px;
	float: left;
}
.bg-lightgrey {
	background-color:black;
}
.edu-exp {
	padding: 10px 0px;
	width: 48%;
	margin: 20%;
	float: left;
	padding-left: 20px;
}
.experience-list {
	width: 100%;
	float: left;
	padding: 30px 0px;
	background: #262626;
	margin-bottom: 20px;
}
.experience-content {
	width: 100%;
	float: left;
	margin-left: 10px;
}
.experience-content h2 {

	font-weight: 600;
	margin-bottom: 10px;
	font-size: 20px;
	margin-left: 10px;
}
.experience-content h3 {
	color: #ffbf35;
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 20px;
	margin-left: 10px;
}
/*CONTACT US SECTION*/
.contact form {
	width: 66%;
	margin: 10px 25px;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 3px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #ffbf35;
	color: #fff;
	border: none;
	font-size: 16px;
}
.contact h2 
{
	font-size: 30px;
	text-align: center;
	margin-top: 60px;
	color:#ffbf35;
}

.contact h3 {
	font-size: 26px;
	text-align: left;
	margin-top: 60px;
	color: #ffbf35;
}
.contact h4 {
	font-size: 22px;
	text-align: left;
	margin-top: 10px;
}
.contact p {
	text-align: left;
	font-size: 16px;
	margin-top: 5px;
}